.pending{
    color: #ffcb00d4 !important;
}

.approved{
    color: green;
}
.rejected{
    color: red;
}

body{
    font-family:math;
}

@media print {
    .btn, .navbar-brand {
        display: none;
    }

    .card{
        border: 0;
    }
    

  }
  
  @media only screen and (max-width: 900px) {
  #table-risk {
    width: 1050px;
    
  }
  
  }
