.activity-desc{
    display: flex;
}



body{
    font-family: math;
}

@media only screen and (max-width: 900px) {
    #table-risk,#suggestionsTable {
      width: 1050px;
    }
    .font-mobile {
      font-size: 16px;
  }
  }